<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.input :product %>
  </div>

    <div class="field">

      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select A Catagory") %>
      <%= select_tag(:manufacturer_id, options_for_select(@manufacturers), :prompt => "Select A Manufacturer") %>
      <%= select_tag(:size_id, options_for_select(@sizes), :prompt => "Select A Size") %>
      <%= select_tag(:location_id, options_for_select(@locations), :prompt => "Add Your Location") %>
    </div>

  <div class="field">

    <%= f.input :price %>
  </div>
  <div class="field">

    <%= f.input :description %>
  </div>
    <div class="field">

      <%= f.file_field :prod_image %>
    </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
