

<h3 class="current-category"> <%= params[:category] %></h3>
<h3 class="current-size"><%= params[:size] %></h3>

<% if @products.count == 0 %>
    <h1>Sorry but there are no items currently available in your selection</h1>
    <% else %>

<h1>Listing Products</h1>

<div class="row">
    <% @products.each do |product| %>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>
            <a href="/products/ <%= product.id %>">
             <%=  image_tag product.prod_image.url(:thumb), class: 'product' %></a>
            </p>
            <p>
                <%= link_to product.product, product %>
            </p>
            <p>
                <%= number_to_currency(product.price) %>
            </p>
        </div>

    <% end %>
</div>

<% end %>