

<h3 class="current-category"> <%= params[:category] %></h3>
<h3 class="current-size"><%= params[:size] %></h3>

<% if @products.count == 0 %>
    <h1>Sorry but there are no items currently available in your selection</h1>
    <% else %>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Description</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.product, product %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.size_id %></td>

        <td><%= link_to 'Show', product %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% end %>