
<div class="row">
    <div class="col-sm-5 col-md-4 col-lg-3">
        <p>
             <%=  image_tag @product.prod_image.url(:medium), class: 'prodShow' %>
        </p>

    </div>
    <div class="col-sm-7 col-md-8 col-lg-9">
        <h2>
            <strong>Product:</strong>
            <%= @product.product %>
        </h2>

        <h3>
             <strong>Price:</strong>
            <%= @product.price %>
        </h3>

        <h4>
            <strong>Size:</strong>
            <%= @product.size.name %>
        </h4>

        <p>
            <strong>Description:</strong>
            <%= @product.description %>
        </p>
    </div>
</div>

<div class="row">
  <div class="col-sm-5 col-md-4 col-lg-3">

    <!-- Where teh reviews and ratings will go  -->

  </div>
</div>

<%= link_to 'Back', products_path %> |

<% if user_signed_in? %>
    <% if @product.user_id == current_user.id  %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>